body {
    background-color: #f4f6f6;
}
header {
    height: 90px;
    background-color: #0073a1;
    margin-bottom: 40px;
}
.container {
    width: 1140px;
    margin: 0 auto;
    font-family: 'Open Sans';
}
h1 {
  
    font-weight: 600;
    font-size:24px;
    color: #555555;
    border-bottom: 1px solid #000000;
    padding: 15px;
}
.first-paragraph {
    font-size: 20px;
    line-height:27px;
    font-weight: 700;
    color: #003471;
    padding: 20px 40px;
    background-color: #fafafa;
}
.info {
    background-color: #ffffff;
    padding: 28px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
}
p {
    font-size: 18px;
    font-weight: 400;
    color: #0073a1;
}
.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #555555;
}
.other-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
    padding: 20px 40px;
    background-color: #fafafa;
}
button {
    background-color: #0073a1;
    border-radius: 40px;
    color: #ffffff;
    margin-top: 60px;
    height: 60px;
    width: 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}